.root{
/*    -fx-background-color:aquamarine;*/
    -fx-background-image:url("../img/bkg.PNG");
    -fx-background-size: 100% 100%
}

.top_bar{
    /* -fx-background-color: white; */
    -fx-background-color: linear-gradient(to left, rgb(70, 70, 127) 0%, rgb(24, 19, 103) 50%);
    /* -fx-background-color: linear-gradient(to left, rgb(70, 70, 127) 20%, rgb(24, 19, 103) 20%); */
}

.top_text{
    -fx-width: 100%;
    
}

.left_bar{
    -fx-background-color:black;
    -fx-opacity: 0.7
}

.left_buttons{
    -fx-background-color:transparent;
}

.left_buttons:hover{
    -fx-background-color:#00cccc;
    -fx-opacity: 1
}